.container {
  width: 100%;
  margin: auto;

  @media (min-width: 1024px) {
    width: 800px;
  }

  @media (min-width: 1600px) {
    width: 1200px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Wrap cards on smaller screens */
  justify-content: space-around; /* Distribute cards evenly */
  gap: 20px;
  margin: 20px;
}
